<!-- 
############################################
AQUI VOY A CREAR UN PESTANIA, PARA PERMITIR
MAYOR REALIDAD A LA PAGINA, CON IMPLEMENTACION
DE HTML Y BOOTSTRAP POR MEDIO DE EJS 
    - Fabian David Navarro Cano.
#########################################
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>ColCoffee World</title>
    <!--/////////////// frontend ejecutado por BOOTSTRAP ///////////////-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="https://static1.squarespace.com/static/5842d2c7c534a57dbde0ca12/t/5dd6f26e2421805afa6430a7/1574367855396/favicon-256x256.png?format=1500w" type="image/gif" sizes="16x16">
</head>

<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png');background-size: 100%; ">

    <!-- <body style="background-color: gray;"> -->
    <nav class="navbar navbar-dark bg-dark mb-4 navbar-expand">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-4" style="font-weight: bold; font-size: large; padding-inline: 20%;">
            <li class="nav-item">
                <a class="nav-link" href="companies">Companies</a>
            </li>
            <li class="nav-item" style="padding-left: 20%;">
                <a class="nav-link navbar-brand" href="/">Home</a>
            </li>
            <li class="nav-item" style="padding-left: 35%;">
                <a class="nav-link " href="news">News</a>
            </li>
        </ul>
    </nav>

    <!-- ////////////////////////// Companies ////////////////////////// -->
    <div class="offset-md-4" style="font-weight: bolder;">
        <h2>Companies in the ColCoffee World 2020</h2>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media" style="color:black; ">
                    <img src="https://wallpaperaccess.com/full/1889529.jpg" class="mr-3" alt="Local-stage-CoffeeMagic" style="width: 20%;" style="border-style: solid; border-color: black;">
                    <div class=" media-body ">
                        <h5 class="mt-0 ">Sweet Coffee</h5>
                        Is a specialty coffee roaster based in Milwaukee, Wisconsin. Until July 2013, the company was known as Sweet Coffee. Represent the Colectivo roasts its coffee and makes all its food products in Milwaukee and is known nationwide as a wholesale coffee supplier.

                        <div class="media mt-3 ">
                            <a class="mr-3 " href="# ">
                                <img src="https://www.baristainstitute.com/sites/default/files/styles/1x_width_50_wysiwyg/public/images/affogato_0.jpg?itok=91SpDnwF" class="mr-3 " alt="Product-Star-CoffeMagic" style="border-style: solid; border-color: black;">
                            </a>
                            <div class="media-body ">
                                <h5 class="mt-0 ">AFFOGATO</h5>
                                Espresso poured on a vanilla ice cream. Served in a cappuccino cup.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ################################################################ -->
    <br>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media" style="color:black; ">
                    <img src="https://c1.wallpaperflare.com/preview/984/53/201/barista-barista-girl-business-caf%C3%A9.jpg" class="mr-3" alt="Local-stage-CoffeeRider" style="width: 20%;" style="border-style: solid; border-color: black;">
                    <div class=" media-body ">
                        <h5 class="mt-0 ">Coffee Rider</h5>
                        Is a brand of coffee produced by the Black Ivory Coffee Company Ltd in northern Thailand from Arabica coffee beans consumed by elephants and collected from their waste. The taste of Black Ivory coffee is influenced by elephants' digestive enzymes, which
                        breaks down the coffee's protein.

                        <div class="media mt-3 ">
                            <a class="mr-3 " href="# ">
                                <img src="https://www.baristainstitute.com/sites/default/files/styles/1x_width_50_wysiwyg/public/images/Frappe.jpg?itok=nsitCEUF" class="mr-3 " alt="Product-Star-CoffeMagic" style="border-style: solid; border-color: black;">
                            </a>
                            <div class="media-body ">
                                <h5 class="mt-0 ">FRAPPÉ</h5>
                                Rich iced coffee made of espresso, milk and ice. Flavoured syrup can be added (about 300 ml). Mixed in a blender and served for example in a latte glass.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ################################################################ -->
    <br>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media" style="color:black; ">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7huuin5lu0FBwIDsJWFOXS2KBu3l1YoE26Q&usqp=CAU" class="mr-3" alt="Local-stage-CoffeeRider" style="width: 20%;" style="border-style: solid; border-color: black;">
                    <div class=" media-body ">
                        <h5 class="mt-0 ">Colombian Coffee & Fabian S.A.</h5>
                        is a multinational coffeehouse chain based in Colombia that specializes in coffee retail. Its purpose is to become a member of the worldwide coffee restaurant business, and promote Colombian coffee. It was created by Colombia's National Federation of
                        Coffee Growers through Procafecol S.A. with ideas of Fabian David Navarro Cano.

                        <div class="media mt-3 ">
                            <a class="mr-3 " href="# ">
                                <img src="https://www.baristainstitute.com/sites/default/files/styles/1x_width_50_wysiwyg/public/images/Cafe_Mocha.jpg?itok=3bbzRk65" class="mr-3 " alt="Product-Star-CoffeMagic" style="border-style: solid; border-color: black;">
                            </a>
                            <div class="media-body ">
                                <h5 class="mt-0 ">ICED MOCHA</h5>
                                Cold Caffè mocha. Prepared like iced latte, but garnished and flavoured like caffè mocha (about 300 ml). Served in a latte glass.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ################################################################ -->
    <br>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media" style="color:black; ">
                    <img src="https://c1.wallpaperflare.com/preview/587/55/636/adult-bar-coffee-machine-coffee-shop.jpg" class="mr-3" alt="Local-stage-CoffeeRider" style="width: 20%;" style="border-style: solid; border-color: black;">
                    <div class=" media-body ">
                        <h5 class="mt-0 ">CoffeeMagistic</h5>
                        is a fair trade coffeehouse chain based in Ottawa, Ontario. In addition to coffee and organic teas, it sells soups, salads, sandwiches and snacks made in its own kitchen. In November 2006, CoffeeMagistic was voted Ottawa's "Best Coffee/Tea House" by readers
                        of lifestyle weekly Ottawa XPress.

                        <div class="media mt-3 ">
                            <a class="mr-3 " href="# ">
                                <img src="https://www.baristainstitute.com/sites/default/files/styles/1x_width_50_wysiwyg/public/images/freakshake.jpg?itok=dMJMz344" class="mr-3 " alt="Product-Star-CoffeMagic" style="border-style: solid; border-color: black;">
                            </a>
                            <div class="media-body ">
                                <h5 class="mt-0 ">FREAKSHAKE</h5>
                                Basically anything that is blended/mixed/stirred and served with various topping that are very "instagrammable". Coffee Freakshakes are often made with cold brew coffee.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include ('./partials/_footer'); -%>