<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>ColCoffee World</title>
    <!--/////////////// frontend ejecutado por BOOTSTRAP ///////////////-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="https://static1.squarespace.com/static/5842d2c7c534a57dbde0ca12/t/5dd6f26e2421805afa6430a7/1574367855396/favicon-256x256.png?format=1500w" type="image/gif" sizes="16x16">
</head>

<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png');background-size: 100%; ">

    <!-- <body style="background-color: gray;"> -->
    <nav class="navbar navbar-dark bg-dark mb-4 navbar-expand">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-4" style="font-weight: bold; font-size: large; padding-inline: 20%;">
            <li class="nav-item">
                <a class="nav-link" href="companies">Companies</a>
            </li>
            <li class="nav-item" style="padding-left: 20%;">
                <a class="nav-link navbar-brand" href="/">Home</a>
            </li>
            <li class="nav-item" style="padding-left: 35%;">
                <a class="nav-link " href="news">News</a>
            </li>
        </ul>
    </nav>

    <!-- ////////////////////////// News ////////////////////////// -->

    <div class="offset-md-5" style="font-weight: bolder;">
        <h2>Reports around the Coffee</h2>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="https://colombiareports.com/wp-content/uploads/2016/06/coffee_f_municipioamaga.jpg" class="mr-3" alt="ColombianReports" style="width: 20%;">
                    <div class="media-body">
                        <h5 class="mt-0">The evolution of coffee culture in Colombia’s coffee region</h5>
                        While growing coffee has been a major part of the economy of Pereira and the surrounding coffee region, drinking one of Colombia’s most iconic export products is only just kicking in. For years we have all had these beautiful dreams of what a perfect
                        cup of coffee should be. It’s rich, fresh, the right aroma and beautiful in presentation. We are enchanted with memories of the old Juan Valdez publicity which showed a campesino merrily hauling coffee on his burro. [...]
                        <a href="https://colombiareports.com/evolution-coffee-culture-colombias-coffee-region/" target="_blank">More information.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ########################################## -->
    <br>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="https://dailycoffeenews.com/wp-content/uploads/2020/07/roastery.jpg" class="mr-3" alt="dailycoffeenews" style="width: 20%;">
                    <div class="media-body">
                        <h5 class="mt-0">Tenfold Coffee Hopes to Exponentially Elevate Quality in Houston</h5>
                        With the hope of raising the bar for coffee service many times over in Houston, Tenfold Coffee welcomed the public into its new 3,000-square-foot roastery and coffee shop earlier this month. With a 20-foot bar flanked on one side by a Probat P12 roaster
                        on one side and a training lab and seating area on the other, the shop opened on June 10. Given the ongoing coronavirus pandemic, hours and operations have been limited. [...]
                        <a href="https://dailycoffeenews.com/2020/07/02/tenfold-coffee-hopes-to-exponentially-elevate-quality-in-houston/" target="_blank">More information.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ########################################## -->
    <br>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <img src="https://dailycoffeenews.com/wp-content/uploads/2020/07/Christopher-Oppenhuis-photo-by-Alex-Napper-copy-2.jpg" class="mr-3" alt="dailycoffeenews" style="width: 10%;">
                    <div class="media-body">
                        <h5 class="mt-0">Marcell Coffee Custom-Tailors Coffee Roasting in KC</h5>
                        From smack dab in the center of the United States, a new Kansas City roasting outfit by the name of Marcell Coffee is helping to forge deeper connections between wholesale clients and coffees from all over the world. Founded last year by Christopher Oppenhuis,
                        Alex Rea and Mark Sappington, who all met at Kansas City’s Thou Mayest Coffee Roasters, the business is focused on two main fronts. [...]
                        <a href="https://dailycoffeenews.com/2020/07/01/marcell-coffee-custom-tailors-coffee-roasting-in-kc/" target="_blank">More information.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./partials/_footer'); -%>