<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>ColCoffee World</title>
    <!--/////////////// frontend ejecutado por BOOTSTRAP ///////////////-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="https://static1.squarespace.com/static/5842d2c7c534a57dbde0ca12/t/5dd6f26e2421805afa6430a7/1574367855396/favicon-256x256.png?format=1500w" type="image/gif" sizes="16x16">
</head>

<body style="background-image: url('https://pixelz.cc/wp-content/uploads/2018/12/coffee-bean-heart-uhd-4k-wallpaper.jpg');
 background-repeat: no-repeat; background-size: 100%; ">

    <!-- <body style="background-color: gray;"> -->
    <nav class="navbar navbar-dark bg-dark mb-4 navbar-expand">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 offset-md-4" style="font-weight: bold; font-size: large; padding-inline: 20%;">
            <li class="nav-item">
                <a class="nav-link" href="companies">Companies</a>
            </li>
            <li class="nav-item" style="padding-left: 20%;">
                <a class="nav-link navbar-brand" href="/">Home</a>
            </li>
            <li class="nav-item" style="padding-left: 35%;">
                <a class="nav-link " href="news">News</a>
            </li>
        </ul>
    </nav>